<!doctype html>
<html lang="en">
<head>
    <title>Tomas Tulka's Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/syntaxhighlighter-theme-eclipse.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
</head>
<body>

<div id="blog-article">
    <layout-main>

        <loading-box v-if="loading"></loading-box>
        <alert-box v-if="errored"></alert-box>

        <article-entry v-bind:article="article"></article-entry>

    </layout-main>
</div>

<script src="js/vue.min.js"></script>
<script src="js/syntaxhighlighter.min.js"></script>

<script src="js/article.js"></script>
</body>
</html>