<!doctype html>
<html lang="en">
  <head>
    <title>Tomas Tulka's Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico">                    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/syntaxhighlighter-theme-eclipse.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
  </head>
  <body>  
  
    <main role="main" class="container" id="blog-article">
      <loading-box v-if="loading"></loading-box>
      <alert-box v-if="errored"></alert-box>
      
      <div class="blog-post" v-if="article">
        <h2 class="blog-post-title">{{ article.title }}</h2>
        <p class="blog-post-meta">
          {{ new Date(parseInt(article.createdAt) * 1000).toLocaleDateString() }} 
          by <a v-bind:href="'/author/' + slugify(article.author.name) + '-' + article.author.id">{{ article.author.name }}</a></p>  
        <p v-html="article.summary"></p>
        <p v-html="article.body"></p>
      </div>    
    </main>

    <script src="js/vue.min.js"></script>
    <script src="js/syntaxhighlighter.min.js"></script>

    <script src="js/article.js"></script>
  </body>
</html>